


<section class="user-profile section">
	<div class="container">
		<div class="row">
            <div class="col-md-3 offset-md-1 col-lg-3 offset-lg-0"></div>
			<div class="col-md-6 offset-md-1 col-lg-6 offset-lg-0">
				<!-- Edit Personal Info -->
				<div class="widget personal-info">
					<h3 class="widget-header user">Register</h3>
					<form action="#">
						<!-- First Name -->
						<div class="form-group">
						    <label for="first-name">First Name</label>
						    <input type="text" class="form-control" id="first-name">
						</div>
						<!-- Last Name -->
						<div class="form-group">
						    <label for="last-name">Email</label>
						    <input type="text" class="form-control" id="last-name">
						</div>
						<!-- File chooser -->
						<div class="form-group choose-file">
						    <label for="last-name">Avatar</label>
							<i class="fa fa-user text-center"></i>
						    <input type="file" class="form-control-file d-inline" id="input-file">
						 </div>
						<!-- Zip Code -->
						<div class="form-group">
						    <label for="zip-code">Phone</label>
						    <input type="text" class="form-control" id="zip-code">
						</div>
                        <!-- New Password -->
						<div class="form-group">
						    <label for="new-password">Password</label>
						    <input type="password" class="form-control" id="new-password">
						</div>
						<!-- Confirm New Password -->
						<div class="form-group">
						    <label for="confirm-password">Enter the password</label>
						    <input type="password" class="form-control" id="confirm-password">
						</div>
                        <button class="btn btn-transparent">register</button>
					</form>
				</div>
				
			</div>
            <div class="col-md-3 offset-md-1 col-lg-3 offset-lg-0"></div>
		</div>
	</div>
</section>

