<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>

</style>

<body>
    
    <section class="section-about">
        <div class="bs-container">
          <div class="bs-row row-md-15">
            <div class="bs-col col-sm-12 md-50-15">
              <div
                class="module module-about aos-init aos-animate"
                data-aos="zoom-out-right"
              >
                <div class="module-header">
                  <span class="id">01</span>
                  <h2 class="title">Giới thiệu Bvote</h2>
                </div>
                <div class="module-content">
                  <div class="desc" style="margin-bottom: 5px">
                    <div class="reward-content">
                      <div class="reward-part">
                        <div class="item">
                          <p style="text-align: left">
                            Là đơn vị độc quyền cung cấp nền tảng bình chọn cho giải
                            thưởng "Thí sinh được yêu thích nhất" của Miss Grand Việt
                            Nam 2022, BVote tự hào đồng hành cùng các thí sinh, góp
                            phần mang đến một sân chơi công bằng, minh bạch, giúp nhan
                            sắc Việt tỏa sáng.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="info-website">
                    <p class="title">
                      CÔNG TY CỔ PHẦN
                      <a class="link" href="https://bvote.com.vn/index.html">BVOTE</a>
                      VIỆT NAM
                    </p>
                    <li>
                      Tổ hợp văn phòng Sunsquare - Số 21 Lê Đức Thọ - Phường Mỹ Đình 2
                      - Quận Nam Từ Liêm - Hà Nội.
                    </li>
                    <li><p>Bvote – Bình chọn nhanh nhạy- Tin cậy người dùng</p></li>
                    <li>
                      <span>
                        <svg
                          stroke="currentColor"
                          fill="currentColor"
                          stroke-width="0"
                          viewBox="0 0 24 24"
                          class="icon"
                          height="1em"
                          width="1em"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path fill="none" d="M0 0h24v24H0z"></path>
                          <path
                            d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"
                          ></path></svg></span
                      >Website: https://bvote.com.vn/
                    </li>
                    <li>
                      <span>
                        <svg
                          stroke="currentColor"
                          fill="currentColor"
                          stroke-width="0"
                          viewBox="0 0 512 512"
                          class="icon"
                          height="1em"
                          width="1em"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M437.332 80H74.668C51.199 80 32 99.198 32 122.667v266.666C32 412.802 51.199 432 74.668 432h362.664C460.801 432 480 412.802 480 389.333V122.667C480 99.198 460.801 80 437.332 80zM432 170.667L256 288 80 170.667V128l176 117.333L432 128v42.667z"
                          ></path></svg></span
                      >Email: bvote@bvote.vn
                    </li>
                    <li>
                      <span
                        ><svg
                          stroke="currentColor"
                          fill="currentColor"
                          stroke-width="0"
                          viewBox="0 0 512 512"
                          class="icon"
                          height="1em"
                          width="1em"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"
                          ></path></svg></span
                      >Hotline: +84 86 966 1866
                    </li>
                  </ul>
                 
                </div>
                <div class="about-img">
                  <div class="img">
                    <img
                      src="https://missgrandvietnam.bvote.vn/images/introduce1.png"
                      alt=""
                      data-aos="zoom-out-left"
                      class="aos-init"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="bs-col col-sm-12 md-50-15"></div>
          </div>
        </div>
      </section>

</body>
</html>