<section class="user-profile section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
          <div class="sidebar">
            <!-- User Widget -->
            <div class="widget user-dashboard-profile">
              <!-- User Image -->
              <div class="profile-thumb">
                <img
                  [src]="'https://api-vote-app.onrender.com/img/avatars/' + info.avatar"
                  alt=""
                  class="rounded-circle"
                />
              </div>
              <!-- User Name -->
              <h5 class="text-center">{{ info.name }}</h5>
              <p>Joined {{ date }}</p>
            </div>
            <!-- Dashboard Links -->
            <div class="widget user-dashboard-menu">
              <ul>
                <li>
                  <a href="dashboard-my-ads.html"
                    ><i class="fa fa-user"></i> My Ads</a
                  >
                </li>
                <li>
                  <a routerLink="/change-password"
                    ><i class="fa fa-bookmark-o"></i> change password
                   </a
                  >
                </li>
                <li>
                  <a href="dashboard-archived-ads.html"
                    ><i class="fa fa-file-archive-o"></i>Archeved Ads
                    <span>12</span></a
                  >
                </li>
                <li>
                  <a href="dashboard-pending-ads.html"
                    ><i class="fa fa-bolt"></i> Pending Approval<span>23</span></a
                  >
                </li>
                <li>
                  <a routerLink="/rechager"
                    ><i class="fa fa-power-off"></i>Rechager</a
                  >
                </li>
                <li>
                  <a href="logout.html"><i class="fa fa-cog"></i> Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
         
<div class="container">
	<div class="row">
		<div class="col-8">
		    
		    
        <form action="" method="POST" (submit)="changePass()" [formGroup]="formchange">
          <label>Current Password</label>
          <div class="form-group pass_show has"> 
                  <input type="password" formControlName="currentPass" class="form-control" placeholder="Current Password"> 
                  <div *ngIf="fo['currentPass'].errors">
                    <small class="" *ngIf="fo['currentPass'].errors['required']">currentPass cannot be blank</small>
                    <small class="help-block" *ngIf="fo['currentPass'].errors['pattern']">currentPass must be at least 4 characters, including lowercase letters, uppercase letters, numbers</small>
                </div>
              </div> 
             <label>New Password</label>
              <div class="form-group pass_show"> 
                  <input type="password" formControlName="newPass" class="form-control" placeholder="New Password"> 
              </div> 
             <label>Confirm Password</label>
              <div class="form-group pass_show"> 
                  <input type="password" formControlName="confirmPass" class="form-control" placeholder="Confirm Password"> 
              </div> 
              <button type="submit" [disabled]="fo['currentPass'].errors || fo['newPass'].errors || fo['confirmPass'].errors"  class="btn btn-primary">Submit</button>

        
        </form>
        
		</div>  
	</div>
</div>
        </div>
      </div>
    </div>
  </section>
  


