<section class="blog single-blog section">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
				<div class="sidebar">
					<!-- Category Widget -->
					<div class="widget category">
						<!-- Widget Header -->
						<h5 class="widget-header">Categories</h5>
						<ul class="category-list">
							<li><a href="">Appearel <span class="float-right">(2)</span></a></li>
							<li><a href="">Accesories <span class="float-right">(5)</span></a></li>
							<li><a href="">Business<span class="float-right">(7)</span></a></li>
							<li><a href="">Entertaiment<span class="float-right">(3)</span></a></li>
							<li><a href="">Education<span class="float-right">(9)</span></a></li>
						</ul>
					</div>

					<div class="widget user-dashboard-menu">
						<ul>
							<li class="active" ><a href=""><i class="fa fa-user"></i> My Ads</a></li>
							<li><a href=""><i class="fa fa-bookmark-o"></i> Favourite Ads <span>5</span></a></li>
							<li><a href=""><i class="fa fa-file-archive-o"></i>Archived Ads <span>12</span></a></li>
							<li><a href=""><i class="fa fa-bolt"></i> Pending Approval<span>23</span></a></li>
							<li><a href=""><i class="fa fa-cog"></i> Logout</a></li>
							<li><a href=""><i class="fa fa-power-off"></i>Delete Account</a></li>
						</ul>
					</div>

				</div>
			</div>
			<div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
				<article class="single-post">
					<h3>{{candidate.name}}</h3>
					<ul class="list-inline">
						<li class="list-inline-item"><b> Total vote: {{candidate.quantityVote}}</b></li>
					</ul>
					<img [src]="'https://api-vote-app.onrender.com/' +  candidate.avatar" alt="article-02">
					
					<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="checkErrors">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
						<strong>{{checkErrors}}</strong> 
					  </div>
					  
					  <script>
						$(".alert").alert();
					  </script>
					<form action="" method="get" (submit)="vote(candidate.id)">
						<div class="form-group">
						  <input type="number" min="1" max="100" class="form-control" name="" id="qttVote" placeholder="Quantity vote">
						</div>
						<button name="" id="" class="btn btn-danger"  role="button">Vote</button>
					</form>
						<ul class="list-inline">
							<li class="list-inline-item"><h3> Age: {{candidate.age}}</h3></li>
							<li class="list-inline-item"><h3> Address: {{candidate.address}}</h3></li>
						</ul>
					
					<p>{{candidate.content}}</p> 
					
					<p>{{candidate.other}}</p>

					<ul class="social-circle-icons list-inline">
				  		<li class="list-inline-item text-center"><a class="fa fa-facebook" href=""></a></li>
				  		<li class="list-inline-item text-center"><a class="fa fa-twitter" href=""></a></li>
				  		<li class="list-inline-item text-center"><a class="fa fa-google-plus" href=""></a></li>
				  		<li class="list-inline-item text-center"><a class="fa fa-pinterest-p" href=""></a></li>
				  		<li class="list-inline-item text-center"><a class="fa fa-linkedin" href=""></a></li>
				  	</ul>
				</article>
			</div>
		</div>
	</div>
</section>
