<section class="user-profile section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
        <div class="sidebar">
          <!-- User Widget -->
          <div class="widget user-dashboard-profile">
            <!-- User Image -->
            <div class="profile-thumb">
              <img
                [src]="'https://api-vote-app.onrender.com/img/avatars/' + info.avatar"
                alt=""
                class="rounded-circle"
              />
            </div>
            <!-- User Name -->
            <h5 class="text-center">{{ info.name }}</h5>
            <p>Joined {{ date }}</p>
          </div>
          <!-- Dashboard Links -->
          <div class="widget user-dashboard-menu">
            <ul>
              <li>
                <a href="dashboard-my-ads.html"
                  ><i class="fa fa-user"></i> My Ads</a
                >
              </li>
              <li>
                <a routerLink="/change-password"
                  ><i class="fa fa-bookmark-o"></i> change password
                 </a
                >
              </li>
              <li>
                <a href="dashboard-archived-ads.html"
                  ><i class="fa fa-file-archive-o"></i>Archeved Ads
                  <span>12</span></a
                >
              </li>
              <li>
                <a href="dashboard-pending-ads.html"
                  ><i class="fa fa-bolt"></i> Pending Approval<span>23</span></a
                >
              </li>
              <li>
                <a routerLink="/rechager"
                  ><i class="fa fa-power-off"></i>Rechager</a
                >
              </li>
              <li>
                <a href="logout.html"><i class="fa fa-cog"></i> Logout</a>
              </li>
            </ul>
          </div>
          <div class="widget user-dashboard-menu">
            <h3>History recharge</h3>
            <table class="table">
              <thead class="thead">
                <tr>
                  <th>STT</th>
                  <th>Số tiền được nạp</th>
                  <th>Status</th>
                  <th>Thời gian nạp</th>
                </tr>
                <tr *ngFor="let item of history_recharge; index as i;">
                  <td>{{i+1}}</td>
                  <td>{{item.wait_money}}</td>
                  <td *ngIf="item.status == 0" class="text-warning">waiting</td>
                  <td *ngIf="item.status == 1" class="text-success">success</td>
                  <td>{{created_date}}</td>
                </tr>
              </thead>
            </table>
          </div>
        </div>

      </div>
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
        <!-- Edit Personal Info -->
        <div class="sidebar">
          <div class="widget price text-center">
            <h4>Account balance</h4>
            <p>{{ info.money | currency : "VND" }}</p>
          </div>
          <!-- User Profile widget -->
          <div class="module-header aos-init aos-animate" style="margin-top:150px" data-aos="fade-up">
            <span class="id">02</span>
            <h2 class="title"><span>Your recent activity</span></h2>
          </div>
          <div class="module-content aos-init" data-aos="fade-up">
            <div class="table-content">
              <div class="table-head">
                <table class="table">
                  <thead class="thead">
                    <tr>
                      <th>Thí sinh được bình chọn</th>
                      <th>Mã bình chọn</th>
                      <th>Người bình chọn</th>
                      <th>Thời gian</th>
                    </tr>
                    <tr *ngFor="let item of history_Vote">
                      <td style="display: flex; align-items: center">
                        <div >
							<img class="avatar" [src]="'https://api-vote-app.onrender.com/img/avatars/' + item.candidate.avatar" alt="">
						</div>
                        <div class="info">
							
                          <span>SBD: Bk{{item.id}}AP</span>
                          <p>{{item.candidate.name}}</p>
                        </div>
                      </td>
                      <td>
                        <div class="wrap">
                          <a
                            class="link"
                            href="/phieu-binh-chon/dc606144859c2468ffcc023c26a42ea779e57eddf84283424abda5e37cc7e968"
                            >78e16e32-9dd0-4c34...</a
                          >
                        </div>
                      </td>
                      <td>
                        <div class="wrap">
                          <a
                            class="link"
                            href="/nguoi-binh-chon/ED20E71B050A68D5F4D248E43E7E7EED9245DD70"
                            > {{item.acc.name}} </a
                          >
                        </div>
                      </td>
                      <td><div class="wrap"> {{created_time}} </div></td>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
