    <section class="blog single-blog section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 offset-md-1 col-lg-3 offset-lg-0"></div>
                <div class="col-md-6 offset-md-1 col-lg-6 offset-lg-0">
                    <div class="block comment">
                        <h4>Login</h4>
                        <form action="loginUser" method="post" [formGroup]="formLogin" (submit)="onLogin()">
                            <div class="form-group mb-30">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" formControlName="email">
                                <span *ngIf="f['email'].touched && f['email'].errors">
                                    <small class="help-block" *ngIf="f['email'].errors['required']">Emaill không được để trống</small>
                                    <small class="help-block" *ngIf="f['email'].errors['email']">Emaill không đúng định dạng</small>
                                </span>
                            </div>
                            <!-- Name -->
                            <div class="form-group mb-30">
                                <label for="name">Password</label>
                                <input type="text" class="form-control" formControlName="password">
                                <span *ngIf="f['password'].touched && f['password'].errors">
                                    <small class="help-block" *ngIf="f['password'].errors['required']">password không được để trống</small>
                                </span>
                            </div>
                            <div class="form-group mb-30 text-center">
                                <span><a href="register">Register</a></span>
                            </div>
                                <button class="btn btn-transparent" [disabled]="f['email'].errors || f['password'].errors">Login</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-3 offset-md-1 col-lg-3 offset-lg-0"></div>
            </div>
        </div>
    </section>
